<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hnry Invoice Manager" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Hnry Invoice Manager">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-sans antialiased">
    <div class="h-screen flex md:flex-row overflow-hidden">
        
        <div class="w-full md:w-1/5 bg-[#272754] text-white p-8 flex flex-col justify-between flex-shrink-0 overflow-y-auto">
            <div>
                <%= link_to root_path do %>
                    <%= image_tag "Name_Only_White.png", class: "mt-8", alt: "Company Logo" %>
                <% end %>
                <p class="mt-2 text-md text-center">Invoice Manager</p>
            </div>
        
            <div class="text-center mb-8">
                <%= yield :sidebar_footer %>
            </div>
        </div>

        <div class="w-full md:w-4/5 bg-[#EFEFFF] p-8 md:p-12 overflow-y-auto">
            <%= yield %>
        </div>

    </div>
  </body>
</html>